html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #efefef;
  color: #565656;
  font-family: "Roboto", sans-serif;
}

h2,
h3 {
  font-family: "Playfair Display", serif;
  color: black;
}

/* Hero section */
.hero {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;

}

.hero-bg {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('assets/bg.png');
  background-size: 100% 100%;
}

.about-me-container {
  max-width: 1000px;
  padding: 20px 24px;
}

.portrait-container {
  position: relative;
  box-shadow: 2px 6px 6px rgba(65, 59, 59, 0.397);
  float: left;
  margin-right: 12px;
}

.portrait {
  width: 280px;
  height: 350px;
  object-fit: cover;

  /* This took too long to fix. Because of how img is rendered as an inline-block
  on screen, which causes this parent element to have a height more than the child img.
  This fixes it */
  display: block;
  /* Setting line-height: 0 on the parent div (.portrait-container) also fixes this issue */
}

.portrait-name {
  color: #efefef;
  position: absolute;
  bottom: 0;
  left: 8px;
  margin: 0;
  font-size: 2rem;
  font-weight: 400;
  text-shadow: 1px 1px 0px rgb(73, 73, 73);
  white-space: nowrap;
}

.hero-text {
  margin: 25px;
  padding: 2rem;
  background-color: #efefef;
  box-shadow: 2px 6px 6px rgba(65, 59, 59, 0.397);
}

.hero-text h2 {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  margin: 0;
}

.hero-text p {
  font-size: 1.1rem;
}

.hero-links {
  display: flex;
  column-gap: 8px;
  justify-content: right;
}

.link-img {
  width: 32px;
}

/* Works section */
.works {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  padding: 12px 40px;
}

.works .header {
  justify-self: flex-start;
}

.works .cards {
  display: flex;
  justify-content: center;
  column-gap: 24px;
  row-gap: 20px;
  flex-wrap: wrap;
}

.works .card {
  flex: 1;
  min-width: 250px;
  max-width: 320px;
  /* max-width: 280px; */
  box-shadow: 2px 6px 6px rgba(65, 59, 59, 0.397);
}

.works .fake-img {
  font-family: "Playfair Display", serif;
  min-height: 180px;
  color: #efefef;
  display: flex;
  align-items: center;
  justify-content: center;
}

.works .fake-1 {
  background-color: brown;
}

.works .fake-2 {
  background-color: rgb(109, 168, 50);
}

.works .fake-final {
  color: black;
  background-image: radial-gradient(#e66465, #9198e5);
}

.works .details {
  padding: 12px;
}

.works .header {
  display: flex;
}

.works .title {
  margin: 0;
  font-family: "Playfair Display", serif;
}

.works .work-links {
  align-items: center;
  margin-left: auto;
  display: flex;
  column-gap: 20px;
}

.works a {
  width: 25px;
}

.works .work-links i {
  font-size: 22px;
  color: black;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  /* width: 100vw; */
  width: 100%;
  background-color: #0598c9;
  color: #efefef;
}

footer .container {
  padding: 32px 24px;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  column-gap: 40px;
  flex-basis: 1000px;
  max-width: 1000px;
  justify-content: center;
}

footer .details {
  flex: 2;
  min-width: 250px;
  max-width: 350px;
}

footer h2 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  color: #efefef;
  margin-top: 0;
}

footer .contact-image-container {
  flex: 3;
  max-height: 300px;
  max-width: 407px;
}

footer img {
  max-width: 100%;
  max-height: 100%;
}

/* Breakpoints */
@media (max-width: 894px) {
  footer .contact-image-container {
    max-width: 201px;
  }
}

@media (max-width: 800px) {
  .portrait-name {
    font-size: 2.5rem;
    bottom: 270px;
    left: 230px;
  }

  .hero .hero-text {
    margin: 60px;
    margin-top: 90px;
    margin-bottom: 25px;
    padding-top: 40px;
  }
}

@media (max-width: 620px) {

  /* Hero section */
  .hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-image: url('assets/bg.png');
    background-position: center top;
  }

  .hero .about-me-container {
    row-gap: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero .portrait-container {
    width: 80%;
    margin: 0;
  }

  .hero .portrait {
    width: 100%;
    height: auto;
  }

  .portrait-name {
    font-size: 3rem;
    bottom: 0;
    left: 8px;
    width: 50%;
    white-space: normal;
  }

  .hero .hero-text {
    background-color: #ffffff00;
    text-align: center;
    margin: 0;
    box-shadow: none;
    padding: 0;
  }

  .hero .hero-text p {
    text-align: left;
  }

  .hero .hero-links {
    justify-content: center;
  }

  /* Works section */
  .works {
    align-items: center;
  }

  /* Footer */
  footer .container {
    padding: 0;
    flex-direction: column;
  }

  footer .details {
    padding: 24px;
    font-size: 1.4rem;
    width: 100%;
    max-width: none;
  }

  footer .details h2 {
    text-align: center;
  }

  footer .contact-image-container {
    margin-top: 25px;
    max-width: none;
    max-height: none;
    width: 100%;
  }

  footer img {
    width: 100%;
    max-height: none;
    display: block;
  }
}