html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #efefef;
  color: #565656;
  font-family: "Roboto", sans-serif;
}

h2,
h3 {
  color: black;
}

/* Hero section */
.hero {
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url(assets/bg.png);
  background-size: 100% 100%;
}

.about-me-container {
  max-width: 1000px;
  padding: 20px 24px;
}

.portrait-container {
  position: relative;
  box-shadow: 2px 6px 6px rgba(65, 59, 59, 0.397);
  float: left;
  margin-right: 12px;
}

.portrait {
  width: 280px;
  height: 350px;
  object-fit: cover;

  /* This took too long to fix. Because of how img is rendered as an inline-block
  on screen, which causes this parent element to have a height more than the child img.
  This fixes it */
  display: block;
  /* Setting line-height: 0 on the parent div (.portrait-container) also fixes this issue */
}

.portrait-name {
  color: #efefef;
  position: absolute;
  bottom: 0;
  left: 8px;
  margin: 0;
  font-size: 2rem;
  text-shadow: 1px 1px 0px rgb(73, 73, 73);
}

.hero-text {
  margin: 25px;
  padding: 2rem;
  background-color: #efefef;
  box-shadow: 2px 6px 6px rgba(65, 59, 59, 0.397);
}

.hero-text h2 {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  margin: 0;
}

.hero-text p {
  font-size: 1.1rem;
}

.hero-links {
  display: flex;
  column-gap: 8px;
  justify-content: right;
}

.link-img {
  width: 32px;
}

/* Works section */
.works {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  padding: 12px 40px;
}

.works .header {
  justify-self: flex-start;
}

.works .cards {
  display: flex;
  justify-content: center;
  column-gap: 24px;
  row-gap: 20px;
  flex-wrap: wrap;
}

.works .card {
  flex: 1;
  min-width: 250px;
  max-width: 320px;
  /* max-width: 280px; */
  box-shadow: 2px 6px 6px rgba(65, 59, 59, 0.397);
}

.works .fake-img {
  font-family: "Playfair Display", serif;
  min-height: 180px;
  color: #efefef;
  display: flex;
  align-items: center;
  justify-content: center;
}

.works .fake-1 {
  background-color: brown;
}

.works .fake-2 {
  background-color: rgb(109, 168, 50);
}

.works .fake-final {
  color: black;
  background-image: radial-gradient(#e66465, #9198e5);
}

.works .details {
  padding: 12px;
}

.works .header {
  display: flex;
}

.works .title {
  margin: 0;
  font-family: "Playfair Display", serif;
}

.works .work-links {
  align-items: center;
  margin-left: auto;
  display: flex;
  column-gap: 20px;
}

.works a {
  width: 25px;
}

.works .work-links i {
  font-size: 22px;
  color: black;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  /* width: 100vw; */
  width: 100%;
  background-color: #0598c9;
  color: #efefef;
}

footer .container {
  padding: 32px 24px;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  column-gap: 40px;
  flex-basis: 1000px;
  max-width: 1000px;
  justify-content: center;
}

footer .details {
  min-width: 250px;
  max-width: 350px;
  flex: 30%;
}

footer h2 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  color: #efefef;
  margin-top: 0;
}

footer .contact-image {
  flex: 60%;
  width: 250px;
  height: auto;
}